<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Flex Item Demo</title>
        <link rel="stylesheet" href="flex.item.main.css">
    </head>
    <body>
        <div class="demo-order">
            <div id="div-1">1</div>
            <div id="div-2">2</div>
            <div id="div-3">3<br/>order: 1</div>
            <div id="div-4">4<br/>order: -1</div>
            <div id="div-5">5</div>
        </div>

        <div class="demo-flex-grow">
            <div id="div-1">1<br/>flex-grow: unset(0)</div>
            <div id="div-2">2<br/>flex-grow: 1</div>
            <div id="div-3">3<br/>flex-grow: 1</div>
            <div id="div-4">4<br/>flex-grow: 1</div>
            <div id="div-5">5<br/>flex-grow: 2</div>
        </div>

        <div class="demo-flex-shrink">
            <div id="div-1">1<br/>flex-shrink: 0</div>
            <div id="div-2">2</div>
            <div id="div-3">3</div>
            <div id="div-4">4</div>
            <div id="div-5">5</div>
            <div id="div-6">6</div>
            <div id="div-7">7</div>
            <div id="div-8">8</div>
            <div id="div-9">9</div>
        </div>

        <div class="demo-flex-basis">
            <div id="div-1">1</div>
            <div id="div-2">2</div>
            <div id="div-3">3</div>
            <div id="div-4">4<br/>flex-basis: 200px;</div>
            <div id="div-5">5</div>
        </div>

        <div class="demo-item-flex">
            <div id="div-1">1</div>
            <div id="div-2">2<br/> 2 1 auto;</div>
            <div id="div-3">3</div>
            <div id="div-4">4</div>
            <div id="div-5">5</div>
            <div id="div-6">6</div>
            <div id="div-7">7</div>
            <div id="div-8">8</div>
            <div id="div-9">9</div>
            <div id="div-0">0<br/>flex: 1 1 auto;</div>
        </div>

        <div class="demo-align-self">
            <div id="div-1">1</div>
            <div id="div-2">2<br/>align-self: center;</div>
            <div id="div-3">3</div>
            <div id="div-4">4<br/>align-self: baseline;</div>
            <div id="div-5">5</div>
        </div>
    </body>
</html>
