<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Flex Layout</title>
        <link rel="stylesheet" href="flex.contaner.main.css">
    </head>
    <body>
        <div class="demo-flex-direction">
            <div id="div-1">1</div>
            <div id="div-2">2</div>
            <div id="div-3">3</div>
            <div id="div-4">4</div>
            <div id="div-5">5</div>
        </div>

        <div class="demo-flex-wrap">
            <div id="div-1">1</div>
            <div id="div-2">2</div>
            <div id="div-3">3</div>
            <div id="div-4">4</div>
            <div id="div-5">5</div>
            <div id="div-6">6</div>
            <div id="div-7">7</div>
            <div id="div-8">8</div>
            <div id="div-9">9</div>
            <div id="div-10">10</div>
            <div id="div-11">11</div>
            <div id="div-12">12</div>
            <div id="div-13">13</div>
            <div id="div-14">14</div>
            <div id="div-15">15</div>
            <div id="div-16">16</div>
        </div>

        <div class="demo-justify-content">
            <div id="div-1">1</div>
            <div id="div-2">2</div>
            <div id="div-3">3</div>
            <div id="div-4">4</div>
            <div id="div-5">5</div>
        </div>

        <div class="demo-align-items">
            <div id="div-1">1</div>
            <div id="div-2">2</div>
            <div id="div-3">3</div>
            <div id="div-4">4</div>
            <div id="div-5">5</div>
        </div>

        <div class="demo-align-content">
            <div id="div-1">1</div>
            <div id="div-2">2</div>
            <div id="div-3">3</div>
            <div id="div-4">4</div>
            <div id="div-5">5</div>
            <div id="div-6">6</div>
            <div id="div-7">7</div>
            <div id="div-8">8</div>
            <div id="div-9">9</div>
            <div id="div-10">10</div>
            <div id="div-11">11</div>
            <div id="div-12">12</div>
            <div id="div-13">13</div>
            <div id="div-14">14</div>
            <div id="div-15">15</div>
            <div id="div-16">16</div>
        </div>

        <div class="demo-flex-flow">
            <div id="div-1">1</div>
            <div id="div-2">2</div>
            <div id="div-3">3</div>
            <div id="div-4">4</div>
            <div id="div-5">5</div>
            <div id="div-6">6</div>
            <div id="div-7">7</div>
            <div id="div-8">8</div>
            <div id="div-9">9</div>
            <div id="div-10">10</div>
            <div id="div-11">11</div>
            <div id="div-12">12</div>
            <div id="div-13">13</div>
            <div id="div-14">14</div>
            <div id="div-15">15</div>
            <div id="div-16">16</div>
        </div>
    </body>
</html>
