<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Box mode challenge</title>
    <link rel="stylesheet" href="challenge.main.css" />
  </head>
  <body>
    <div class="container">
      <span>&lt;div class="container"/&gt;</span>
      <nav>
        <span>&lt;nav/&gt;</span>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Taco Menu</a></li>
          <li><a href="#">Draft List</a></li>
          <li><a href="#">Hours</a></li>
          <li><a href="#">Directions</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
      <section>
        <span>&lt;section/&gt;</span>
        <p>
          这个例子和之前那个外观一模一样。请注意我们在容器上做了“清除浮动”。原本在这个例子中是不需要的，但是当
          <code>nav</code> 比非浮动的内容还要高时就需要了。
        </p>
      </section>
      <section>
        <span>&lt;section/&gt;</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
          imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae
          scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices
          nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut
          aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in
          odio. Praesent convallis urna a lacus interdum ut hendrerit risus
          congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac.
          In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec
          vitae dui eget tellus gravida venenatis. Integer fringilla congue eros
          non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo
          purus. Mauris quis diam velit.
        </p>
      </section>
    </div>
  </body>
</html>
